# Etape n°1

In [2]:
import pandas as pd

Création du DataFrame pour la population

In [3]:
df_pop = pd.read_csv("csv/df_pop.csv")

Création du DataFrame pour les produits animals

In [4]:
df_anim = pd.read_csv("csv/df_anim.csv")

Création du DataFrame pour les produits végetals

In [5]:
df_veg = pd.read_csv("csv/df_veg.csv")

# Etape n°2

### Question n°1 et 2

Dimension dataframe population et 5 premières lignes

In [6]:
#Affiche les informations du dataframe
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       360 non-null    object
 1   Domain            360 non-null    object
 2   Area Code (FAO)   360 non-null    int64
 3   Area              360 non-null    object
 4   Element Code      360 non-null    int64
 5   Element           360 non-null    object
 6   Item Code         360 non-null    int64
 7   Item              360 non-null    object
 8   Year Code         360 non-null    int64
 9   Year              360 non-null    int64
 10  Unit              360 non-null    object
 11  Value             360 non-null    float64
 12  Flag              360 non-null    object
 13  Flag Description  360 non-null    object
dtypes: float64(1), int64(5), object(8)
memory usage: 39.5+ KB

In [7]:
#Affiche la dimension
df_pop.shape

(360, 14)

In [8]:
#Affiche les 5 premières lignes
df_pop.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,37172.0,*,Unofficial figure
1,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,38042.0,*,Unofficial figure
2,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,2883.0,*,Unofficial figure
3,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,2881.0,*,Unofficial figure
4,FBS,Food Balances (2010-),4,Algeria,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,42228.0,*,Unofficial figure

Dimension dataframe poduits animals et 5 premières lignes

In [9]:
#Affiche la dimension
df_anim.shape

(1080, 14)

In [10]:
#Affiche les 5 premières lignes
df_anim.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2941,Animal Products,2018,2018,kcal/capita/day,189.00,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2941,Animal Products,2019,2019,kcal/capita/day,187.00,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2941,Animal Products,2018,2018,g/capita/day,10.69,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2941,Animal Products,2019,2019,g/capita/day,10.34,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,684,Fat supply quantity (g/capita/day),2941,Animal Products,2018,2018,g/capita/day,12.85,Fc,Calculated data

Dimension dataframe poduits végetals et 5 premières lignes

In [11]:
#Affiche les dimensions
df_veg.shape

(1080, 14)

In [12]:
#Affiche les 5premières lignes
df_veg.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2903,Vegetal Products,2018,2018,kcal/capita/day,2081.00,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2903,Vegetal Products,2019,2019,kcal/capita/day,2087.00,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2903,Vegetal Products,2018,2018,g/capita/day,46.94,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2903,Vegetal Products,2019,2019,g/capita/day,46.97,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,684,Fat supply quantity (g/capita/day),2903,Vegetal Products,2018,2018,g/capita/day,28.61,Fc,Calculated data

### Question n°3

Ajout d'une colonne type pour le dataframe des produits animals et vegetals

In [13]:
df_anim["type"] = "animal_product"

In [ ]:
df_veg["type"] = "vegetal_product"