# Etape n°1

In [1]:
import pandas as pd

Création du DataFrame pour la population

In [2]:
df_pop = pd.read_csv("csv/df_pop.csv")

Création du DataFrame pour les produits animals

In [3]:
df_anim = pd.read_csv("csv/df_anim.csv")

Création du DataFrame pour les produits végetals

In [4]:
df_veg = pd.read_csv("csv/df_veg.csv")

# Etape n°2

### Question n°1 et 2

Dimension dataframe population et 5 premières lignes

In [5]:
#Affiche les informations du dataframe
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       358 non-null    object
 1   Domain            358 non-null    object
 2   Area Code (FAO)   358 non-null    int64
 3   Area              358 non-null    object
 4   Element Code      358 non-null    int64
 5   Element           358 non-null    object
 6   Item Code         358 non-null    int64
 7   Item              358 non-null    object
 8   Year Code         358 non-null    int64
 9   Year              358 non-null    int64
 10  Unit              358 non-null    object
 11  Value             358 non-null    float64
 12  Flag              358 non-null    object
 13  Flag Description  358 non-null    object
dtypes: float64(1), int64(5), object(8)
memory usage: 39.3+ KB

In [6]:
#Affiche la dimension
df_pop.shape

(358, 14)

In [7]:
#Affiche les 5 premières lignes
df_pop.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,37172.0,*,Unofficial figure
1,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,38042.0,*,Unofficial figure
2,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,2883.0,*,Unofficial figure
3,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,2881.0,*,Unofficial figure
4,FBS,Food Balances (2010-),4,Algeria,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,42228.0,*,Unofficial figure

Dimension dataframe poduits animals et 5 premières lignes

In [8]:
#Affiche la dimension
df_anim.shape

(30897, 14)

In [9]:
#Affiche les 5 premières lignes
df_anim.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2018,2018,kg,2.62,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2019,2019,kg,2.65,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2018,2018,kcal/capita/day,15.00,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2019,2019,kcal/capita/day,16.00,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2731,Bovine Meat,2018,2018,g/capita/day,1.09,Fc,Calculated data

Dimension dataframe poduits végetals et 5 premières lignes

In [10]:
#Affiche les dimensions
df_veg.shape

(91068, 14)

In [11]:
#Affiche les 5premières lignes
df_veg.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,160.12,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,161.93,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/capita/day,1372.00,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/capita/day,1387.00,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/capita/day,37.00,Fc,Calculated data

### Question n°3

Ajout d'une colonne type pour le dataframe des produits animals et vegetals

In [12]:
df_anim["type"] = "animal_product"

In [13]:
df_veg["type"] = "vegetal_product"

In [15]:
df_product = pd.concat([df_anim, df_veg])

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,type
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2018,2018,kg,2.62,Fc,Calculated data,animal_product
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2019,2019,kg,2.65,Fc,Calculated data,animal_product
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2018,2018,kcal/capita/day,15.00,Fc,Calculated data,animal_product
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2019,2019,kcal/capita/day,16.00,Fc,Calculated data,animal_product
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2731,Bovine Meat,2018,2018,g/capita/day,1.09,Fc,Calculated data,animal_product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91063,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2899,Miscellaneous,2019,2019,kcal/capita/day,2.00,Fc,Calculated data,vegetal_product
91064,FBS,Food Balances (2010-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2899,Miscellaneous,2018,2018,g/capita/day,0.04,Fc,Calculated data,vegetal_product
91065,FBS,Food Balances (2010-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2899,Miscellaneous,2019,2019,g/capita/day,0.07,Fc,Calculated data,vegetal_product
91066,FBS,Food Balances (2010-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2899,Miscellaneous,2018,2018,g/capita/day,0.01,Fc,Calculated data,vegetal_product
91067,FBS,Food Balances (2010-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2899,Miscellaneous,2019,2019,g/capita/day,0.03,Fc,Calculated data,vegetal_product